<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift-BLE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDE849721D28EE6B0000B340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE849861D28EE6B0000B340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE849911D28EE6B0000B340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
